body {
    color: var(--second-color);
    font-size: 25px;
    font-weight: bold;
    display: grid;
    text-align: center;
}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

h1 {
    color: var(--second-color);
    margin: auto;
    font-size: 1em;
}

ul {
    list-style: none;
    padding: unset;
}

.bg-logo {
    background-image: url(../files/images/רקע.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

article {
    grid-area: 1 / 2 / 1 / 2;
    color: #363536;
}

p {
    margin: auto;
    width: 60%;
}

@media screen and (max-width: 1350px) {
    .bg-logo {
        background-image: url(../files/images/רקע.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }

    body {
        font-size: 22px;
    }
}

@media screen and (max-width: 1100px) {
    body {
        font-size: 19px;
    }
}

@media screen and (max-width: 700px) {
    body {
        font-size: 15px;
        margin-top: 10px;
    }
}
