body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    overflow: hidden;
}

main {
    height: 100vh;
    grid-row: 1 / 2;
    grid-column: 2 / 4;
}

.bg {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    z-index: -1;
}

.bg .bg-second {
    height: 100%;
    transform: skewX(15.5deg);
    width: 200%;
    margin-right: -93%;
}

.anim {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: slideshow 3s linear infinite alternate;
}

@keyframes slideshow {
    0% {
        background-image: url('../files/images/כוס תרמית.png');
    }

    50% {
        background-image: url('../files/images/כוס + פלטת חימום.png');
    }

    100% {
        background-image: url('../files/images/כרבולית.png');
    }
}