.grid-container {
    display: grid;
    grid-template-areas:
        'header header header'
        'main main main'
        'footer footer footer';
    grid-template-rows: calc(0.2 * (100% - 56px)) calc(0.8 * (100% - 56px)) 56px;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

nav {
    background-color: var(--second-color);
    flex-grow: 1;
    height: 0;
}

nav a {
    color: #f2f2f2;
    padding: 10.5px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover,
nav a:visited {
    background-color: var(--main-color);
}

footer {
    background-color: var(--second-color);
    grid-area: footer;
}

footer p {
    color: white;
    text-align: center;
    padding: 0px 25px;
}

iframe {
    width: 100%;
    height: 100%;
}

.logo {
    height: 75%;
    align-self: center;
}

header>div {
    height: 0;
    flex-grow: 2;
}