body {
    color: var(--second-color);
}

table,
thead {
    border: 2px solid var(--second-color);
    border-collapse: collapse;
    width: 500px;
}

td {
    padding: 8px;
    height: 50px;
    width: 50%;
    text-align: center;
}

table {
    margin: auto;
    margin-top: 50px;

}

tr:nth-child(even) {
    background-color: var(--main-color);
    color: white;
}

tr:nth-child(even) td {
    border: 2px solid var(--second-color);
}

tr:hover {
    background-color: var(--second-color);
    color: white;
}

.links {
    position: fixed;
    margin-left: 0px;
}

a {
    color: var(--second-color);
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    .links {
        display: flex;
        justify-content: space-evenly;
        position: relative;
        list-style-type: none;
        margin-top: 10px;
        padding: unset;
    }
}

@media screen and (max-width: 500px) {
    table {
        width: 350px;
    }

    .links {
        font-size: smaller;
    }
}