* {
  box-sizing: border-box;
}

body {
  --main-color: rgb(251 175 74);
  --second-color: rgb(165 51 98);
  direction: rtl;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-color);
  margin: 0;
  min-height: 100vh;
}

a {
  color: white;
}

ul, ol {
  list-style-type: none;
}

iframe {
  border: none;
}

button, .btn {
  border: 2px solid;
  background-color: white;
  padding: 7.5px 10px;
  cursor: pointer;
  color: var(--main-color);
  align-self: center;
  border-radius: 5px;
}

i::before, i::after {
  margin: auto 3px;
}

button:hover, .btn:hover {
  background: var(--main-color);
  color: white;
}

.bg-main {
  background-color: var(--main-color);
}

.bg-second {
  background-color: var(--second-color);
}

.grid-container {
  display: grid;
}

/* =================== flex =================== */
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-space {
  justify-content: space-around;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* =================== scrollbar =================== */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* =================== radio =================== */
/* Customize the label (the container) */
.radio-container {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  margin: 5px;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked~.checkmark {
  background-color: var(--main-color);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  /* position: absolute; */
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}